@{
    ViewBag.Title = "About";
}
<div class="row default-row">
    <div class="col-md-12">
        <div class="well well-lg well-border">
            <h4>About</h4>
            <p>
                Environmental Protection and Sanitation (EPS) group is one of the Community Development Scheme (CDS) groups created by the National Youth Service Corps (NYSC) with the aim of advocating for and ensuring protection and sanitation of environments within immediate host communities where corp members are undergoing their one year compulsory NYSC programme.
            Ours, the Wednesday EPS CDS, Zoological Garden, Area 1, Garki Abuja is one of the various EPS CDS groups in Abuja with the same objectives but variation in venue and days. On every Wednesday 8:00 AM, members of this reputable group converge with a strategic approach to the environmental protection and sanitation challenges being faced by their host communities. Here, good homework is done as every member is opportuned to express opinions, initiatives, thoughts and critics towards achieving the aim of our establishment.
            </p>
            <h4>Core Objectives</h4>
            <p>Our Core Objectives are as folows:</p>
            <ol>
                <li>Educate the general public about environmental hygiene and cleanliness.</li>
                <li>Allow for corp members as part of their commitment to National Development to demonstrate the willingness of highlighting essences of the environmental protection and sanitation, by practical involvement in the process and advocating for such in the community at least once a month.</li>
                <li>Prepare and carryout a project with high impact on the host community.</li>
                <li>To arrange when and where suitable for a seminar or public awareness campaign on environmental health.</li>
                <li>Carryout such visits to other institutions, schools, public places to sensitize on environmental care and preservation; plant a tree campaign, stop waste burning and waste classification.</li>
            </ol>
            <p>
                As part of the commitments towards achieving our goals, the EPS CDS is sub-divided into three working teams, namely:
            </p>
            <ol>
                <li><strong>Project Working Team</strong> with Dr. Faith as Team Lead.</li>
                <li><strong>Sanitation Working Team</strong> with Miss. Bilkis as Team Lead.</li>
                <li><strong>Sensitization Working Team</strong> with Miss. Fatimah as Team Lead.</li>
            </ol>
            <p>
                Among other things, the Project Working Team is saddled with the responsibility of carrying out environmental survey and investigations with the ultimate aim of coming up with sites and places that needs attention on protection, sanitation and sensitization. The Sanitation Working Team is responsible for the strategic approach on sanitation upon decision on a site to be worked on by members, while the Sensitization Working Team makes plan on topics and anchors sensitization projects to be carried out by this group.
                The setting-up of this teams is to help corp members widen their scope of knowledge, build and develop personal competence, skills, team-work and promote synergy for goals/objectives’ achievement.
            </p>
            <p>@Html.ActionLink("Our Administration", "Excos", "Home")</p>
        </div>
    </div>
</div>
