@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Submit Comfirmation";
}
<div class="row default-row">
    <div class="col-md-12 text-center">
        <h1>Thank you!</h1>
        <h4>We will contact the necessary authorities and get back you you.</h4>
    </div>
</div>

